.boton_cont{
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
    @media screen and (max-width:900px) {
        margin-right: 0rem !important;
        justify-content:center;
    }
    .boton_desing{
        background: $borde;
        color: $withe;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px !important;
        text-align: center;
        border: none;
        padding: 0.5rem;
        text-transform: uppercase;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer;
        @media screen and (max-width:900px) {
            position: absolute;
            margin-top: 450rem; 
            border-radius: 10px 10px 0px 0px !important;
        }
    }
    
}
